<!DOCTYPE html>
<html lang="en">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{% block title '' %} - Silex</title>

    <!-- Styles -->
    <link href="{{ asset('css/app.min.css') }}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="{{path('homepage')}}">Site Logo</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{path('homepage')}}">Home</a>

            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('admin.create_articles')}}">+ Add article</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="{{path('admin')}}">Admin</a></li>
        </ul>

    </div>
</nav>
<!-- end #menu -->
{% block content %}{% endblock %}

<div class="container">
	<p>Copyright (c) 2018 Sitename.com</p>
</div>

<!-- Scripts -->
<script src="{{ asset('js/app.min.js') }}"></script>

</body>
</html>